# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Execute tests and build
        run: ./gradlew clean test build

      - name: Publish Test Report
        uses: dorny/test-reporter@v1
        with:
          reporter: junit
          path: '**/build/test-results/test/*.xml'
          name: RISC-V Emulator Unit Test Results
          fail-on-error: 'true'